<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EDScreenshotUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <EDScreenshotUI.Properties.Settings>
      <setting name="EDScreenshotFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PreferredFormat" serializeAs="String">
        <value>JPG</value>
      </setting>
      <setting name="JpegQuality" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="RemoveBMP" serializeAs="String">
        <value>Always</value>
      </setting>
    </EDScreenshotUI.Properties.Settings>
  </userSettings>
</configuration>
